#### A pip install requirements file
#### contains the packages needed to build the documentation

recommonmark == 0.7.1
nbsphinx == 0.8.1

# add these back in when we start doing more autodoc stuff (for now they just take too long to load) 
# tensorflow 
# nibabel